.navbar-brand {
    position: absolute;
    width: auto;
    left: 15px;
    text-align: center;
    margin:0 auto;
  }
  
  .navbar-toggle {
    z-index:3;
  }
  
  /* On Tabs & Desktops */
  @media screen and (min-width: 768px) {
    .navbar-left {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }