

<footer class="bg-white text-dark col-12">	

    <div class="container text-md-left">

        <div class="row  text-md-left">

            <div class="col-md-4">
                <h5 class="text-uppercase mb-4 font-weight-bold text-dark">Kantor Pusat</h5>
                    <hr class="mb-4">
                    <p>
                        <a href="#" class="text-dark" style="text-decoration: none;">Jl. Jenderal Gatot Subroto Kav. 36-38</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" style="text-decoration: none;">Jakarta 12190 Indonesia</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" style="text-decoration: none;">Telp: 14000, +62-21-52997777</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" style="text-decoration: none;">Fax: +62-21-52997735</a>
                    </p>

                    <p>
                        <a href="#" class="text-dark" style="text-decoration: none;">Email: mandiricare@bankmandiri.co.id</a>
                    </p>

                    <p>
                        <a href="#" class="text-dark" style="text-decoration: none;">SWIFT Code: BMRIIDJA</a>
                    </p>

                    <p>
                        <a href="#" class="text-dark" style="text-decoration: none;">Bank Mandiri terdaftar dan diawasi oleh OJK</a>
                    </p>
                
            </div>

            <div class="col-md-3">
                <h5 class="text-uppercase mb-4 font-weight-bold text-dark">Hubungi Kami</h5>
                    <hr class="mb-4">
            <p>
                <a href="#" class="fas fa-envelope mr-3 text-dark" style="text-decoration: none;"> email</a>
            </p>
                    
            <p>
                <a href="#" class="fab fa-facebook mr-3 text-dark" style="text-decoration: none;"> facebook</a>
            </p>
            <p>
                <a href="#" class="fab fa-twitter mr-3 text-dark" style="text-decoration: none;"> twitter</a>
            </p>
            <p>
                <a href="#" class="fab fa-telegram mr-3 text-dark" style="text-decoration: none;"> telegram</a>
            </p>

            <p>
                <a href="#" class="fas fa-book mr-3 text-dark" style="text-decoration: none;"> hubungi kami</a>
            </p>

            <p>
                <a href="#" class="fas fa-phone mr-3 text-dark" style="text-decoration: none;">mandiri call 14000</a>
            </p>

            </div>

            

           
            
        </div>

        <hr class="mb-4">
        <div class=" row d-flex justify-content-center">
                <div>
                    <p style="text-align: center;">©2020 
                        <a href="https://bankmandiri.co.id/" style="text-decoration: none;">
                            <strong class="text-info">PT Bank Mandiri (Persero) Tbk.</strong>
                        </a>
                    </p>
                </div>
        </div>
            <div class="row d-flex justify-content-center">
                <div class="text-align-left ">

                    <ul class="list-unstyled list-inline">
                        
                    </ul>
                    
                </div>
                
            </div>
            
        </div>

</footer>
