.content {
height: 100%;

}


mat-card {
    max-width: 600px;
    top: 18%;
    text-align: center;
    max-height: 500px;
  }
  
  .header{
    text-align: center;
  
  }
  .full-width {
    width: 80%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }

  .icon {
      padding-right: 5px;
      padding-left: 5px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }

  .continue-login {
      width: 80%;
      justify-content: center;
      
  }

  .login-btn {
      background-color: #FFC106;
  }

.mat-fab {
   font-size: 24px;
   

  }

  .btn:hover {
    background-color: black;
    color: #FFC106;
    border-color:black;
    
  }
  .btn {
      color: black;
  }

  .register {
      position: relative;
      padding-top: 100px;
  }





mat-icon {
    margin-top: 10px;
}

