.search-bar {
    width: 30%;
    position: absolute;
    left: 35%;
}

.language {
    font-size: 20px;
    width: 100px;
    position: relative;
    color: black;
}

.btn {
    width: 10%;
    right: 1%;
    position: absolute;
}


.container {
    padding-left: 0px;
    padding-right: 0px;
}



.search {
    height: 50px;
    top: 0px;
    width: 100%;
    float: left;
    z-index: 9;
    position: fixed;
}

.form-control {
    color: #246AA4;
}


.navbar-button:hover {
    border-radius: 5px;
    transition: 0.5s;
}

nav div div ul li {
    padding-left: 25px;
    font-size: 24px;
}

.navbar {
    z-index: 9;
    height: 60px;
    position: fixed;
    width: 100%; 
    
}

.navbarScroll {
    z-index: 9;
    height: 60px;
    position: fixed;
    width: 100%; 
}


nav div div ul li a:hover {
    color: #246AA4;
}

