.search-bar {
    width: 30%;
    position: absolute;
}

.language {
    font-size: 20px;
    width: 100px;
    position: relative;
    color: black;
}

.date {
    font-size: 24px;
}

.btn {
    right: 10px;
    position: absolute;
}

.btn-2 {
    right: 140px;
    position: absolute;
    
}

@media screen and (max-width: 600px) {
    .date {
      font-size: 16px;
    }

    .image {
      width: 10%;
      
    }

    .content {
        background-color: #246AA4;
        
    }
    
    .collapse {
        .navbar-nav {
            position: absolute;
            left: 0%;
        }
    }
}


.container {
    padding-left: 0px;
    padding-right: 0px;
}



.search {
    height: 50px;
    top: 0px;
    width: 100%;
    float: left;
    z-index: 9;
    position: fixed;
}

.form-control {
    color: #246AA4;
}


.navbar-button:hover {
    border-radius: 5px;
    transition: 0.5s;
}

nav div div ul li {
    padding-left: 25px;
    font-size: 24px;
}

.navbar {
    z-index: 9;
    height: 60px;
    position: fixed;
    width: 100%; 
    
}

.navbarScroll {
    z-index: 9;
    height: 60px;
    position: fixed;
    width: 100%; 
}

.collapse {
    .navbar-nav {
        position: absolute;
        right: 1%;
    }
}


nav div div ul li a:hover {
    color: #246AA4;
}

