
<div class="container">
    <div class="row">
        <div class="sub-container col-sm-6 d-none d-sm-flex">
        <img src="assets/images/subs.png" 
            class="col-12"
            style="padding-top: 40px;">
        </div>
    
        <div class="sub-container col-sm-6 col-12 d-flex justify-content-center flex-column">
                <p class="description col-sm-5 col-12 text-center mt-4">Why mandiri gold?</p>
                    <app-benefits-list></app-benefits-list>
                <p class="description mb-4 col-sm-5 cold-12 text-cente">Lets join us for free</p>
            <button class="btn col-sm-5 col-6 mb-4">Register</button>
        </div>
    </div>
    </div>
    
    
    
    