
<header class="header-product d-flex justify-content-center flex-column text-center">Our Products</header>


<div class="content d-flex justify-content-center ">
    <div fxLayout="row wrap" class="d-flex justify-content-center mb-4" fxLayoutGap="64px grid" fxGa>
        <div fxFlex="33%" *ngFor="let num of [1,2,3]" let description of >
            <mat-card class="mat-elevation-z4 ">
                <img src="assets/images/{{[num]}}.png" 
                    class="col-12">
                <mat-card-content>
                  <p class="description mb-3">{{sub_title[num-1]}}</p>
                </mat-card-content>
                
            </mat-card>
        </div>
    </div>
    
</div>
