

<footer class="container text-dark col-12 mt-4 mb-4">	

    <div class=" text-md-left">

        <div class="row  text-md-left">

            <div class="col-md-4">
                <p class="sub-title text-uppercase">Kantor Pusat</p>
                    <hr class="mb-4">
                    <p>
                        <a href="#" class="text-dark" >Jl. Jenderal Gatot Subroto Kav. 36-38</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" >Jakarta 12190 Indonesia</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" >Telp: 14000, +62-21-52997777</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" >Fax: +62-21-52997735</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" >Email: mandiricare@bankmandiri.co.id</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" >SWIFT Code: BMRIIDJA</a>
                    </p>
                    <p>
                        <a href="#" class="text-dark" >Bank Mandiri terdaftar dan diawasi oleh OJK</a>
                    </p>
                
            </div>

            <div class="col-md-3">
                <p class="sub-title  text-uppercase">Hubungi Kami</p>
                    <hr class="mb-4">
                        <p>
                            <a href="#" class="fas fa-envelope mr-3 text-dark" ></a>
                            email
                        </p>
                                
                        <p>
                            <a href="#" class="fab fa-facebook mr-3 text-dark" ></a>
                            facebook
                        </p>
                        <p>
                            <a href="#" class="fab fa-twitter mr-3 text-dark" ></a>
                            twitter
                        </p>
                        <p>
                            <a href="#" class="fab fa-telegram mr-3 text-dark" ></a>
                            telegram
                        </p>

                        <p>
                            <a href="#" class="fas fa-book mr-3 text-dark" ></a>
                            hubungi kami
                        </p>

                        <p>
                            <a href="#" class="fas fa-phone mr-3 text-dark" ></a>
                            mandiri call 14000
                        </p>
            </div>

            <div class="col-md-4 d-flex justify-content-top flex-column">
                <img src="assets/images/mandiri_logo.png" class="logo-mandiri" width="300" height=auto>  
            </div>
        </div>

        </div>

</footer>

<footer  class="footer-bottom d-flex justify-content-center flex-column"> 
        <div>
            <a class="footer-link d-flex justify-content-center" href="https://bankmandiri.co.id/" >© 2020 PT Bank Mandiri (Persero) Tbk.</a>
        </div>
</footer>

        