mat-card-header {
  justify-content: center
}

@media screen and (max-width: 600px) {
  .benefit-description {
    font-size: 12px;
  }
}

.benefit-description{
    justify-content: center;
    text-align: center;
  }
  

.content {
  display: flex;
  padding: 16px;
  background-color: white;
}

.content > mat-card {
  margin-bottom: 32px;
  width: 1000px;
  top: 50%;
}

.mat-elevation-z4 {
    margin-bottom: 32px;
    height: 120px;
}

.card {
  padding-left: 8px;
  padding-right: 8px;
  border: none;
}

