
<div class="container">
<div class="row">
    <div class="sub-container col-sm-6 d-flex">
    <img src="assets/images/subs.png" 
        class="col-12"
        style="padding-top: 40px;">
    </div>

    <div class="sub-container col-sm-6 d-flex justify-content-center flex-column">
        <p class="description col-sm-5 text-center">Why mandiri gold?</p>
        <app-form></app-form>
        <p class="description mb-4 col-sm-5 text-center">Lets join us for free</p>
        <button class="btn col-sm-5">Register</button>
    </div>
    

    
    
</div>
</div>