.container {
    height: auto;
    align-items: center;
    
}

.content {
    top: 20%;
}

.row {
    height: 180px;
}

.btn {
    height: 50px;
    width: 150px;
    margin-left: 20px;
}

.title {
  font-weight:bold; 
  font-size: x-large;
  height: 20px;
}

.description {
  font-size: large;
  height: 15px;
  }

  


.content {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    background-color: #F5F5F5;
}

.product-description {
    margin-top: 150px;
    width: 50%;
    height: 230px;
}

.transaction {
    width: 99%;
}

mat-card {
    margin-left: 10px;
    margin-right: 10px;
}

.mat-elevation-z4 {
    justify-content: center;
    
}

.header-product {
  background-color: #F5F5F5;
  height: 80px;
  font-size: 24px;
  font-weight: 500;
}








