p {
    text-align: left;
}


hr {
    color: #246AA4;
}

a {
    text-decoration: none;    
}


.container {
    padding-left: 0%;
}

.footer-bottom {
    background-color: #246AA4; 
    height: 50px;
}

.footer-link {
    color: white;
    text-align: center;
}

.sub-title{
    color: #246AA4;
}


.footer {
    padding-left: 30px;
}