
.navbar-button:hover {
    background-color: #246AA4;
    border-radius: 5px;
    transition: 0.5s;
}

nav div div ul li {
    padding-left: 25px;
    font-size: 24px;
}

// nav div div ul li a {
    
// }

nav div div ul li a:hover {
    color: white;
}
