.container {
    height: auto;
    align-items: center;
    
}



.content {
    top: 20%;
}


.row {
    height: 100px;
}


.btn {
    width: 100px;
}


.image-profile {
    width: 60px;
    height: 60px;
}


.accordian {
    height: 50px;
    background-color: aqua;
}

.profile-name {
    height: 60px;
}
.title {
    font-weight:bold; 
    font-size: x-large;
    height: 20px;
  }
  
  .description {
    padding-top: 5px;
    font-size: large;
    height: 15px;
    }

    .product-description {
        height: 200px;
    }

.transaction-details {
    height: 200px;
}
.content {
    padding-left: 30px;
    padding-right: 30px;
    height: auto;
    background-color: #F5F5F5;
}


.margin-top {
    margin-top: 150px;
    height: auto;
}

.my-transaction {
    width: 80%;
    height: auto;   
}

.profile {
    width: 300px;
    height: 400px;
}

mat-card {
    margin-left: 10px;
    margin-right: 10px;
}

.mat-elevation-z4 {
    justify-content: center;
}

.header-product {
  background-color: #F5F5F5;
  height: 80px;
  font-size: 24px;
  font-weight: 500;
}




