
<div class="d-flex justify-content-center content flex-column">
    
    <div class="d-flex col-sm-12 mb-sm-4 margin-top">
        <mat-card class="profile mat-elevation-z4">
            <div class="row">
                <div class="d-flex align-items-left flex-column justify-content-center col-sm-12">
                    <div class="profile-name d-flex align-items-left ">
                        <img src="assets/images/Delivery.png" class="image-profile"> 
                        <div class="col-6 d-flex align-items-left flex-column justify-content-center">
                            <p style="justify-self: center;"><strong>Indra  Pratama</strong></p>
                            
                        </div>
                    </div>


                    <div class="accordion accordion-flush" id="accordionFlushExample">
                        
                        <div class="accordion-item">
                          <h2 class="accordion-header" id="flush-headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                              My Profile
                            </button>
                          </h2>
                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <a class=" nav-link description" routerLink="profile-setting">Setting Profile</a>
                                <a class="mt-4 nav-link description" routerLink="/profile">Histories</a>
                                <a class="mb-4 mt-4 nav-link description" routerLink="wishtlists">Whistlist</a>    
                            </div>
                          </div>
                        </div>
                        
                      </div>
                    
                    <button (click)="logout()" class="mt-1 btn btn-warning">Logout</button>
                </div>
            </div> 
                         
        </mat-card>

        <div class="my-transaction d-flex flex-column">            
            <router-outlet></router-outlet>                       
        </div>
    </div>
</div>
    

 