
<div class="d-flex justify-content-center content flex-column">
    
    <div class="d-flex col-sm-12 mb-sm-4 margin-top">
        <mat-card class="profile mat-elevation-z4">
            <div class="row">
                <div class="d-flex align-items-left flex-column justify-content-center col-sm-12">
                    <div class="profile-name d-flex align-items-left ">
                        <img src="assets/images/Delivery.png" class="image-profile"> 
                        <div class="col-6 d-flex align-items-left flex-column justify-content-center">
                            <p style="justify-self: center;">Edi Murwanto</p>
                        </div>
                    </div>
                    <p class="description mb-3">My Profile</p>
                    <a class="mt-2 nav-link description" routerLink="profile-setting">Setting Profile</a>
                    <a class="mt-4 nav-link description" routerLink="/profile">Histories</a>
                    <a class="mt-4 nav-link description" routerLink="wishtlists">Whistlist</a>
                    <button class="mt-4 btn btn-warning">Logout</button>
                </div>
            </div> 
                         
        </mat-card>

        <div class="my-transaction d-flex flex-column">            
            <router-outlet></router-outlet>                       
        </div>
    </div>
</div>
    

 