.search-bar {
    width: 30%;
    position: absolute;
    left: 35%;
}

.language {
    font-size: 20px;
    position: relative;
    left: 45px;
    color: black;
}

.btn {
    width: 10%;
    right: 60px;
    position: absolute;
}


.container {
    padding-left: 0px;
    padding-right: 0px;
}



.navbar-search {
    height: 50px;
}

.form-control {
    color: #246AA4;
}


.navbar-button:hover {
    border-radius: 5px;
    transition: 0.5s;
}

nav div div ul li {
    padding-left: 25px;
    font-size: 24px;
}



nav div div ul li a:hover {
    color: #246AA4;
}

// nav li a {
    
// }
