<nav class="navbar-search d-flex justify-content-center flex-column" style="background-color:#ffffff;">
  <!-- <a class="language navbar-button nav-link active" aria-current="page" href="#">ID | EN</a> -->
  
  <div class="search-bar input-group rounded justify-content-center">
    <span class="input-group-text border-0 bg-light" id="search-addon">
      <i class="fas fa-search"></i>
    </span>
    <input id="" type="search" class="form-control rounded text-center border-0 bg-light" placeholder="Ketik untuk mencari" aria-label="Search" aria-describedby="search-addon" />
  </div>
    <button type="submit" class="btn btn-warning">Login</button>
</nav>



<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#ffffff;">
    <div class="container container-fluid">
      <img src="assets/images/mandiri_logo.png" class="logo-mandiri" width="auto" height=50px>

      <div class="d-flex" id="navbarSupportedContent">
        <ul class="navbar-nav mb-2 mb-lg-0 ">
          <li class="nav-item">
              <a class="navbar-button nav-link active" aria-current="page" href="#">Platinum</a>
          </li>
          <li class="nav-item">
              <a class="navbar-button nav-link active" aria-current="page" href="#">Gold</a>
          </li>
          <li class="nav-item">
              <a class="navbar-button nav-link active" aria-current="page" href="#">Silver</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>